server:
  use-forward-headers: true
  servlet:
    context-path: /HYUhYQpV5LsKxe7fQ5l84oOVyTDyHqMZy3PJGuVC9hc
spring:
  security:
    oauth2:
      client:
        provider:
          eid:
            issuer-uri: https://eid.egiz.gv.at
        registration:
          eid:
            client-name: eid
            client-id: http://localhost:8080/HYUhYQpV5LsKxe7fQ5l84oOVyTDyHqMZy3PJGuVC9hc
            authorization-grant-type: authorization_code
            scope: openid,profile
            redirect-uri: http://localhost:8080/HYUhYQpV5LsKxe7fQ5l84oOVyTDyHqMZy3PJGuVC9hc/login/oauth2/code/eid
            client-authentication-method: post
            client-secret: [REDACTED]
logging:
  level:
    at.asitplus.wallet: INFO
    at.asit.apps.terminal_sp.prototype.server: INFO
app:
  public-url: http://localhost:8080/HYUhYQpV5LsKxe7fQ5l84oOVyTDyHqMZy3PJGuVC9hc