{{> header}}

<p>Hallo! Hier ist eine Liste von Kunden die auf die Anmeldung warten:</p>
<div class="column">{{{customerCards}}}</div>

<div class="row">
    <p>
        <a href="terminal/oauth2">
            <button type="button">Login über Browser</button>
        </a>
    </p>
    <p>
        <a href="terminal/siop2">
            <button type="button">Login über Wallet</button>
        </a>
    </p>
</div>

{{> footer}}
