<!doctype html>
<html lang="de" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wallet Service Provider</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script type="importmap">
        {
          "imports": {
            "login": "./js/login.js",
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
            "header-comp": "./js/templates/header-comp.js",
            "title-comp": "./js/templates/title-comp.js",
            "error-alert-comp": "./js/templates/error-alert-comp.js",
            "success-alert-comp": "./js/templates/success-alert-comp.js",
            "login-options-comp": "./js/templates/login-options-comp.js",
            "request-details-comp": "./js/templates/request-details-comp.js",
            "main-config": "./js/login-config.js"
          }
        }
    </script>

    <script type="module">
        import {createBasicSetup} from 'login'
        import {createApp, ref} from 'vue'
        import HeaderComp from 'header-comp'
        import TitleComp from 'title-comp'
        import ErrorAlertComp from 'error-alert-comp'
        import SuccessAlertComp from 'success-alert-comp'
        import LoginOptionsComp from 'login-options-comp'
        import RequestDetailsComp from 'request-details-comp'
        import config from "main-config"

        createApp({
            setup: function () {
                let app = createBasicSetup(config);
                app.updateProfile(config.profiles[0]);
                app.resetRequestChanged();
                app.startPeriodicUpdate();
                return app
            },
            components: {
                HeaderComp,
                TitleComp,
                ErrorAlertComp,
                SuccessAlertComp,
                LoginOptionsComp,
                RequestDetailsComp
            }
        }).mount('#app');
    </script>
</head>
<body id="app">

<header-comp></header-comp>

<div class="container px-4 py-5 position-relative">
    <title-comp title="Custom Request" icon="bi-card-checklist">
        <p>
            Specify all aspects of the authentication request.
        </p>
    </title-comp>

    <div class="row mb-3">
        <ul class="nav nav-tabs">
            <li v-for="item in config.profiles"
                :key="item.label"
                class="nav-item">
                <a :class="'nav-link'+ (item.label == reqSelection.profileLabel ? ' active' : '')" href="#"
                   @click="updateProfile(item)">{{ item.label }}</a>
            </li>
        </ul>
        <div class="bg-white border rounded py-3">
            <request-details-comp
                    :request="reqSelection" :config="config"
                    @update-scheme-type="updateSchemeType"
                    @update-representation="updateRepresentation"
                    @update-attribute="updateAttribute"
                    @add-credential="addCredential"
                    @remove-credential="removeCredential"
                    @generate-qr-code="generateQrCode"
            ></request-details-comp>
        </div>
    </div>

    <error-alert-comp :error="error"></error-alert-comp>

    <success-alert-comp :result="reqResult"></success-alert-comp>

    <div v-if="reqResult != null && reqResult.qrCodeSrc != null" class="row alert alert-success mb-3" role="alert">
        <p>Request has been generated successfully!</p>
    </div>

    <login-options-comp
            :result="reqResult"
            :changed="reqChanged"
            :error="error"
            @generate-qr-code="generateQrCode"></login-options-comp>
</div>

</body>
</html>
