<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terminal Service: Employee-Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles.css">

    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>

    <script type="module">
      import { createApp, ref, nextTick } from 'vue'

      createApp({
        setup() {
          // --- CONFIG --------------------------------------------------------

          const config = {
            itemsUrl: 'api/items',
            removeUrl: 'api/remove',
            timeUpdateRate: 1000,
            itemsUpdateRate: 5000,
          };

          // --- STATE ---------------------------------------------------------

          const loginList = ref([]);

          // --- UPDATE TIME ---------------------------------------------------
          // periodically update text on elapsed time

          function getTimeDifference(timestamp) {
            const difference = Date.now() - timestamp;
            const minutes = Math.floor(difference / (60*1000));
            const seconds = Math.floor((difference - minutes*60*1000) / 1000);

            var textMinutes;
            if (minutes == 0)
              textMinutes = '';
            else if (minutes == 1)
              textMinutes = minutes + ' Minute';
            else if (minutes > 0)
              textMinutes = minutes + ' Minuten';

            var textSeconds = seconds + ' Sekunden';

            return textMinutes + ' ' + textSeconds;
          }

          function updateTime() {
            loginList.value.forEach(item => {
                item.expiredTime = getTimeDifference(item.timestamp)
            })
          }
          updateTime(); // initially
          const timeInterval = setInterval(updateTime, config.timeUpdateRate); // periodically

          // --- UPDATE ITEMS --------------------------------------------------
          // periodically load items from server

          function updateItems(data) {
            loginList.value = data.reduce((newList, newItem) => {
              const currentItem = loginList.value.find(x => x.id == newItem.id);
              if (currentItem)
                return newList.concat([currentItem]); // re-use existing item
              else
                return newList.concat([newItem]); // add new item
            }, []);
          }

          async function updateData() {
            try {
              console.log('updateData')

              let response = await fetch(config.itemsUrl);
              const data = await response.json();
              console.log('items: ', data)

              updateItems(data);
              updateTime();
            } catch (error) {
              console.log('error: ', error);
            }
          }
          updateData(); // initially
          const itemInterval = setInterval(updateData, config.itemsUpdateRate); // periodically

          // --- ACTIONS -------------------------------------------------------

          async function seen(item) {
            try {
              console.log('remove: ', item.id)

              // notify server that record can be removed
              const response = await fetch(config.removeUrl, {
                method: 'POST',
                body: item.id
              });
              const data = await response.json();
              console.log('response: ', data)

              // on OK, remove item from list
              if (response.ok)
                loginList.value.splice(loginList.value.indexOf(item), 1)
            } catch (error) {
              console.log('error: ', error);
            }
          }

          function toggleDetails(item) {
            // show details of item
            item.showDetails = !(item.showDetails == true)
          }

          function process(item) {
            alert("Diese Daten könnten weiter verarbeitet werden: \n" + JSON.stringify(item, null, 2));
          }

          // --- FORMATTERS ----------------------------------------------------

          function parseAddress(base64json) {
            try {
              var address = JSON.parse(atob(base64json));
              var result = address["Strasse"] + " " + address["Hausnummer"];
              if (address["Stiege"] && address["Stiege"].trim())
                result += "/" + address["Stiege"];
              if (address["Tuer"] && address["Tuer"].trim())
                result += "/" + address["Tuer"];
              result += ", " + address["Postleitzahl"] + " " + address["Ortschaft"];
              return result;
            } catch {
              return base64json;
            }
          }

          // --- CHECKER -------------------------------------------------------

          function isSet(value) {
            return value && value != "N/A";
          }

          // --- RETURNS -------------------------------------------------------

          return {
            loginList,
            seen,
            toggleDetails,
            process,
            parseAddress,
            isSet,
          }
        }
      }).mount('#app')
    </script>
  </head>
  <body id="app" style="background-color: #f3f3f3">

    <header class="p-3 text-bg-primary">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="employee.html" class="d-flex mb-2 mb-lg-0 me-md-auto text-white text-decoration-none fs-3 fw-bold">
            Terminal Service: Employee-Page
          </a>
          <div class="ms-3 me-3 mb-2 mb-lg-0">
            <strong>Branch:</strong> Graz, St. Peter Hauptstraße, Schalter #3
          </div>
        </div>
      </div>
    </header>

    <div class="container my-5">
      <h1>Recent Authentication Results</h1>
    </div>

    <div class="container my-5">
      <p v-if="loginList.length == 0">There are no recent authentication results.</p>

      <transition-group tag="div" name="fade" class="row mb-2">

        <div
          v-for="item in loginList"
          :key="item.id"
          class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-light">
            <div v-if="isSet(item.imageDataBase64)" class="col-lg-4 text-bg-dark" style="text-align: center">
              <img style="max-height: 400px;max-width: 100%" :src="item.imageDataBase64"></img>
            </div>
            <div :class="isSet(item.imageDataBase64) ? 'col-lg-8' : 'col-lg-12'" class="p-4 d-flex flex-column position-static">
              <div class="foldout mb-1" :class="item.showDetails ? '' : 'foldout-preview'">
                <div v-if="!item.showDetails" class="foldout-button">
                  <button type="button" class="btn btn-outline-secondary btn-sm" @click="toggleDetails(item)">
                    Mode Details
                    <i class="bi-caret-down-fill"></i>
                  </button>
                </div>
                <div v-if="item.showDetails"class="foldout-button">
                  <button type="button" class="btn btn-outline-secondary btn-sm" @click="toggleDetails(item)">
                    Less Details
                    <i class="bi-caret-up-fill"></i>
                  </button>
                </div>

                <h3 v-if="isSet(item.firstname) || isSet(item.lastname)" class="mb-1">
                  {{ item.firstname }} {{ item.lastname }}
                </h3>

                <p class="card-text mb-1">{{ parseAddress(item.address) }}</p>

                <p v-for="(value, key) in item" :key="key" class="text-truncate mb-1" style="max-width: 100%;">
                  <span class="fw-semibold">{{ key }}</span>: {{ value }}
                </p>

                <div class="foldout-fade"></div>
              </div>

              <div class="text-body-tertiary mb-1">Authenticated {{ item.expiredTime }} ago</div>
              <div class="mt-auto ms-auto d-md-flex gap-2">
                <button @click="seen(item)" type="button" class="btn btn-outline-danger">
                  <i class="bi-x-lg"></i>
                  Remove
                </button>
                <button @click="process(item)" type="button" class="btn btn-outline-success">
                  <i class="bi-chevron-right"></i>
                  Process data
                </button>
              </div>
            </div>
          </div>
        </div>

      </transition-group>
    </div>

  </body>
</html>
