<!doctype html>
<html lang="de" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schalter Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>

    <script type="module">
        import {createApp, ref} from 'vue'

        createApp({
            setup() {
                // --- CONFIG --------------------------------------------------------

                const config = {
                    qrCodeUrl: 'siopv2/generateQrCode',
                    schemeTypes: [
                      {
                        label: 'mDL',
                        value: 'MobileDrivingLicence',
                        attributes: [
                          {label: 'family_name', value: 'org.iso.18013.5.1:family_name'},
                          {label: 'given_name', value: 'org.iso.18013.5.1:given_name'},
                          {label: 'birth_date', value: 'org.iso.18013.5.1:birth_date'},
                          {label: 'issue_date', value: 'org.iso.18013.5.1:issue_date'},
                          {label: 'expiry_date', value: 'org.iso.18013.5.1:expiry_date'},
                          {label: 'issuing_country', value: 'org.iso.18013.5.1:issuing_country'},
                          {label: 'issuing_authority', value: 'org.iso.18013.5.1:issuing_authority'},
                          {label: 'document_number', value: 'org.iso.18013.5.1:document_number'},
                          {label: 'portrait', value: 'org.iso.18013.5.1:portrait'},
                          {label: 'driving_privileges', value: 'org.iso.18013.5.1:driving_privileges'},
                          {label: 'un_distinguishing_sign', value: 'org.iso.18013.5.1:un_distinguishing_sign'},
                          {label: 'administrative_number', value: 'org.iso.18013.5.1:administrative_number'},
                          {label: 'sex', value: 'org.iso.18013.5.1:sex'},
                          {label: 'height', value: 'org.iso.18013.5.1:height'},
                          {label: 'weight', value: 'org.iso.18013.5.1:weight'},
                          {label: 'eye_colour', value: 'org.iso.18013.5.1:eye_colour'},
                          {label: 'hair_colour', value: 'org.iso.18013.5.1:hair_colour'},
                          {label: 'birth_place', value: 'org.iso.18013.5.1:birth_place'},
                          {label: 'resident_address', value: 'org.iso.18013.5.1:resident_address'},
                          {label: 'portrait_capture_date', value: 'org.iso.18013.5.1:portrait_capture_date'},
                          {label: 'age_in_years', value: 'org.iso.18013.5.1:age_in_years'},
                          {label: 'age_birth_year', value: 'org.iso.18013.5.1:age_birth_year'},
                          {label: 'age_over_14', value: 'org.iso.18013.5.1:age_over_14'},
                          {label: 'age_over_16', value: 'org.iso.18013.5.1:age_over_16'},
                          {label: 'age_over_18', value: 'org.iso.18013.5.1:age_over_18'},
                          {label: 'age_over_21', value: 'org.iso.18013.5.1:age_over_21'}, // or any other in 00-99
                          {label: 'issuing_jurisdiction', value: 'org.iso.18013.5.1:issuing_jurisdiction'},
                          {label: 'nationality', value: 'org.iso.18013.5.1:nationality'},
                          {label: 'resident_city', value: 'org.iso.18013.5.1:resident_city'},
                          {label: 'resident_state', value: 'org.iso.18013.5.1:resident_state'},
                          {label: 'resident_postal_code', value: 'org.iso.18013.5.1:resident_postal_code'},
                          {label: 'resident_country', value: 'org.iso.18013.5.1:resident_country'},
                          {label: 'biometric_template_face', value: 'org.iso.18013.5.1:biometric_template_face'},
                          {label: 'biometric_template_signature_sign', value: 'org.iso.18013.5.1:biometric_template_signature_sign'},
                          {label: 'family_name_national_character', value: 'org.iso.18013.5.1:family_name_national_character'}, // more in ISO 19785-3:2020, Table 7
                          {label: 'given_name_national_character', value: 'org.iso.18013.5.1:given_name_national_character'},
                          {label: 'signature_usual_mark', value: 'org.iso.18013.5.1:signature_usual_mark'},
                        ]
                      },
                      {
                        label: 'PID',
                        value: 'EuPid2023',
                        attributes: [
                          {label: 'family_name', value: 'family_name'},
                          {label: 'given_name', value: 'given_name'},
                          {label: 'birth_date', value: 'birth_date'},
                          {label: 'age_over_18', value: 'age_over_18'},
                          {label: 'age_in_years', value: 'age_in_years'},
                          {label: 'age_birth_year', value: 'age_birth_year'},
                          {label: 'family_name_birth', value: 'family_name_birth'},
                          {label: 'given_name_birth', value: 'given_name_birth'},
                          {label: 'birth_place', value: 'birth_place'},
                          {label: 'birth_country', value: 'birth_country'},
                          {label: 'birth_state', value: 'birth_state'},
                          {label: 'birth_city', value: 'birth_city'},
                          {label: 'resident_address', value: 'resident_address'},
                          {label: 'resident_country', value: 'resident_country'},
                          {label: 'resident_state', value: 'resident_state'},
                          {label: 'resident_city', value: 'resident_city'},
                          {label: 'resident_postal_code', value: 'resident_postal_code'},
                          {label: 'resident_street', value: 'resident_street'},
                          {label: 'resident_house_number', value: 'resident_house_number'},
                          {label: 'gender', value: 'gender'},
                          {label: 'nationality', value: 'nationality'},
                          {label: 'issuance_date', value: 'issuance_date'},
                          {label: 'expiry_date', value: 'expiry_date'},
                          {label: 'issuing_authority', value: 'issuing_authority'},
                          {label: 'document_number', value: 'document_number'},
                          {label: 'administrative_number', value: 'administrative_number'},
                          {label: 'issuing_country', value: 'issuing_country'},
                          {label: 'issuing_jurisdiction', value: 'issuing_jurisdiction'},
                        ]
                      },
                      {
                        label: 'IDA Credential',
                        value: 'IdAustria2023',
                        attributes: [
                          {label: 'bpk', value: 'urn:pvpgvat:oidc.bpk'},
                          {label: 'firstname', value: 'given_name'},
                          {label: 'lastname', value: 'family_name'},
                          {label: 'date-of-birth', value: 'birthdate'},
                          {label: 'portrait', value: 'org.iso.18013.5.1:portrait'},
                          {label: 'main-address', value: 'urn:eidgvat:attributes.mainAddress'},
                          {label: 'age-over-14', value: 'org.iso.18013.5.1:age_over_14'},
                          {label: 'age-over-16', value: 'org.iso.18013.5.1:age_over_16'},
                          {label: 'age-over-18', value: 'org.iso.18013.5.1:age_over_18'},
                          {label: 'age-over-21', value: 'org.iso.18013.5.1:age_over_21'},
                        ]
                      }
                    ],
                    representation: [
                      {label: 'Plain JWT', value: 'PLAIN_JWT'},
                      {label: 'SD-JWT', value: 'SD_JWT'},
                      {label: 'ISO mDoc', value: 'ISO_MDOC'}
                    ],
                    urlprefix: [
                        { label: 'HAIP', value: 'haip://' },
                        { label: 'EUDI', value: 'eudi-openid4vp://' },
                        { label: 'MDOC OpenId4VP', value: 'mdoc-openid4vp://' },
                        { label: 'A-SIT Wallet', value: 'https://wallet.a-sit.at/mobile' }
                    ],
                    profiles: [
                      {
                        label: 'Custom',
                        schemeType: null,
                        representation: null,
                        urlprefix: null,
                        attributes: []
                      },
                      {
                        label: 'ID Verification',
                        schemeType: 'IdAustria2023',
                        representation: 'SD_JWT',
                        urlprefix: 'A-SIT Wallet',
                        attributes: [
                          {label: 'firstname', value: 'given_name', isSelected: true},
                          {label: 'lastname', value: 'family_name', isSelected: true},
                          {label: 'portrait', value: 'org.iso.18013.5.1:portrait', isSelected: true},
                        ]
                      },
                      {
                        label: 'Age Verification',
                        schemeType: 'IdAustria2023',
                        representation: 'SD_JWT',
                        urlprefix: 'A-SIT Wallet',
                        attributes: [
                          {label: 'age-over-14', value: 'org.iso.18013.5.1:age_over_14', isSelected: true},
                          {label: 'age-over-16', value: 'org.iso.18013.5.1:age_over_16', isSelected: true},
                          {label: 'age-over-18', value: 'org.iso.18013.5.1:age_over_18', isSelected: true},
                          {label: 'age-over-21', value: 'org.iso.18013.5.1:age_over_21', isSelected: true},
                        ]
                      }
                    ]
                };

                // --- STATE ---------------------------------------------------

                const reqSelection = ref({})
                updateProfile(config.profiles[0])

                const error = ref({message: null})
                const qrCode = ref({src: null})

                // --- FUNCTIONS -----------------------------------------------

                async function updateProfile(profile) {
                    console.log('updateProfile', profile)
                    reqSelection.value = { ...profile }

                    const schemeType = config.schemeTypes.find((type) => type.value == profile.schemeType)
                    const representation = config.representation.find((type) => type.value == profile.representation)

                    if (schemeType) {
                      const selected = profile.attributes.reduce(function(acc, attr){
                        if (attr.isSelected) acc.push(attr.value)
                        return acc
                      }, [])

                      var attrs = schemeType.attributes.map(function(attr){
                        attr.isSelected = selected.includes(attr.value)
                        return attr
                      })

                      reqSelection.value.attributes = attrs
                    }
                }

                async function updateSchemeType(schemeType) {
                    console.log('updateSchemeType', schemeType)
                    reqSelection.value.schemeType = schemeType.value
                    reqSelection.value.attributes = schemeType.attributes
                }

                async function updateRepresentation(representation) {
                    console.log('updateRepresentation', representation)
                    reqSelection.value.representation = representation.value
                }

                async function updateUrlprefix(urlprefix) {
                    console.log('updateUrlprefix', urlprefix)
                    reqSelection.value.urlprefix = urlprefix.value
                }

                async function updateAttribute(attribute) {
                    console.log('updateAttribute', attribute)
                    attribute.isSelected = !attribute.isSelected;
                }

                async function generateQrCode() {
                    console.log('generateQrCode', reqSelection.value)

                    try {
                        const attrs = reqSelection.value.attributes.filter(function (attr) {
                          return attr.isSelected
                        }).map(function (attr) {
                          return attr.value
                        })

                        const request = {
                            credentialType: reqSelection.value.schemeType,
                            representation: reqSelection.value.representation,
                            urlprefix: reqSelection.value.urlprefix,
                            attributes: attrs,
                        }
                        console.log(`generateQrCode: fetching ${JSON.stringify(request)}`)

                        const response = await fetch(config.qrCodeUrl, {
                            method: 'POST',
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify(request),
                        })
                        if (response.ok) {
                            const data = (await response.blob());
                            console.log(`generateQrCode: got ${data.size} bytes`)
                            qrCode.value.src = URL.createObjectURL(data)
                            error.value.message = null
                        } else {
                            const data = (await response.text())
                            console.log(`generateQrCode: error ${data}`)
                            throw data
                        }
                    } catch (err) {
                        console.log(`error: ${err}`)
                        qrCode.value.src = null
                        error.value.message = "Error: " + err
                    }
                }

                // --- RETURNS -------------------------------------------------

                return {
                    config,
                    reqSelection,
                    error,
                    qrCode,
                    updateProfile,
                    updateSchemeType,
                    updateRepresentation,
                    updateUrlprefix,
                    updateAttribute,
                    generateQrCode,
                }
            }
        }).mount('#app')
    </script>
</head>
<body id="app">
<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">
                <i width="1em" height="1em" class="bi-person"></i>
                Kunden-Seite
            </h3>
            <p>
                Der Kunde startet den Anmeldevorgang, indem er den QR-Code scannt, der auf dem Schalter angebracht ist.
                Bitte eine Auswahl treffen, um den QR Code zu erzeugen:
            </p>
            <ul class="nav nav-tabs mb-3">
                <li
                  v-for="item in config.profiles"
                  :key="item.label"
                  class="nav-item">
                  <a :class="'nav-link'+ (item.label == reqSelection.label ? ' active' : '')" href="#" @click="updateProfile(item)">{{ item.label }}</a>
                </li>
            </ul>
            <div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-4 pt-0">Credential Type</legend>
                    <div class="col-sm-8">
                        <div
                          v-for="item in config.schemeTypes"
                          :key="item.value"
                          class="form-check">
                            <input class="form-check-input" type="radio" name="credentialScheme" :value="item.value" :checked="reqSelection.schemeType == item.value" @click="updateSchemeType(item)">
                            <label class="form-check-label">
                                {{ item.label }}
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-4 pt-0">Presentation Type</legend>
                    <div class="col-sm-8">
                        <div
                                v-for="item in config.representation"
                                :key="item.value"
                                class="form-check">
                            <input class="form-check-input" type="radio" name="representation" :value="item.value"  :checked="reqSelection.representation == item.value" @click="updateRepresentation(item)">
                            <label class="form-check-label">
                                {{ item.label }}
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-4 pt-0">URL Prefix</legend>
                    <div class="col-sm-8">
                        <div
                                v-for="item in config.urlprefix"
                                :key="item.value"
                                class="form-check">
                            <input class="form-check-input" type="radio" name="urlprefix" :value="item.value"  :checked="reqSelection.urlprefix == item.value" @click="updateUrlprefix(item)">
                            <label class="form-check-label">
                                {{ item.label }}
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-4 pt-0">Attributes</legend>
                    <div class="col-sm-8">
                        <p v-if="reqSelection.attributes.length == 0">Bitte Credential Type auswählen.</p>
                        <div
                          v-for="item in reqSelection.attributes"
                          :key="item.value"
                          class="form-check">
                            <input class="attributes form-check-input" type="checkbox" name="attributes" :value="item.value" :checked="item.isSelected" @click="updateAttribute(item)">
                            <label class="form-check-label" for="attributes1">
                                {{ item.label }}
                            </label>
                        </div>
                    </div>
                </fieldset>

                <button @click="generateQrCode()" class="btn btn-primary mb-3">Generate QR</button>
            </div>

            <div v-if="error.message" class="alert alert-danger" role="alert">
                {{ error.message }}
            </div>

            <div v-if="qrCode.src" class="alert alert-success" role="alert">
                QR Code wurde erfolgreich generiert:
                <img id="qrcode" width="300px" :src="qrCode.src" />
            </div>
        </div>
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">
                <i width="1em" height="1em" class="bi-bank"></i>
                Angestellten-Seite
            </h3>
            <p>
                Den Angestellten werden auf der Angestellten-Seite alle kürzlichen Anmeldungen präsentiert. Anhand diesen
                Anmeldedaten kann verglichen werden, ob die richtige Person vor dem Schalter steht, und authentische
                Identitätsdaten eingesehen werden.
            </p>
            <a href="employee.html" class="icon-link">
                Gehe zur Angestellten-Seite
                <i class="bi-chevron-right"></i>
            </a>
        </div>
    </div>
</div>

</body>
</html>
