<!doctype html>
<html lang="de" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terminal Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>

    <script type="module">
        import {createApp, ref} from 'vue'

        createApp({
            setup() {
                // --- CONFIG --------------------------------------------------------

                const config = {
                    qrCodeUrl: 'siopv2/generateQrCode',
                    qrCodeUrlUrl: 'siopv2/generateQrCodeUrl',
                    schemeTypes: [
                        {
                            label: 'mDL',
                            value: 'org.iso.18013.5.1.mDL',
                            attributes: [
                                {label: 'family_name', value: 'family_name'},
                                {label: 'given_name', value: 'given_name'},
                                {label: 'birth_date', value: 'birth_date'},
                                {label: 'issue_date', value: 'issue_date'},
                                {label: 'expiry_date', value: 'expiry_date'},
                                {label: 'issuing_country', value: 'issuing_country'},
                                {label: 'issuing_authority', value: 'issuing_authority'},
                                {label: 'document_number', value: 'document_number'},
                                {label: 'portrait', value: 'portrait'},
                                {label: 'driving_privileges', value: 'driving_privileges'},
                                {label: 'un_distinguishing_sign', value: 'un_distinguishing_sign'},
                                {label: 'administrative_number', value: 'administrative_number'},
                                {label: 'sex', value: 'sex'},
                                {label: 'height', value: 'height'},
                                {label: 'weight', value: 'weight'},
                                {label: 'eye_colour', value: 'eye_colour'},
                                {label: 'hair_colour', value: 'hair_colour'},
                                {label: 'birth_place', value: 'birth_place'},
                                {label: 'resident_address', value: 'resident_address'},
                                {label: 'portrait_capture_date', value: 'portrait_capture_date'},
                                {label: 'age_in_years', value: 'age_in_years'},
                                {label: 'age_birth_year', value: 'age_birth_year'},
                                {label: 'age_over_14', value: 'age_over_14'},
                                {label: 'age_over_16', value: 'age_over_16'},
                                {label: 'age_over_18', value: 'age_over_18'},
                                {label: 'age_over_21', value: 'age_over_21'}, // or any other in 00-99
                                {label: 'issuing_jurisdiction', value: 'issuing_jurisdiction'},
                                {label: 'nationality', value: 'nationality'},
                                {label: 'resident_city', value: 'resident_city'},
                                {label: 'resident_state', value: 'resident_state'},
                                {label: 'resident_postal_code', value: 'resident_postal_code'},
                                {label: 'resident_country', value: 'resident_country'},
                                {label: 'biometric_template_face', value: 'biometric_template_face'},
                                {label: 'biometric_template_signature_sign',value: 'biometric_template_signature_sign'},
                                {label: 'family_name_national_character', value: 'family_name_national_character'}, // more in ISO 19785-3:2020, Table 7
                                {label: 'given_name_national_character', value: 'given_name_national_character' },
                                {label: 'signature_usual_mark', value: 'signature_usual_mark'},
                            ]
                        },
                        {
                            label: 'PID',
                            value: 'EuPid2023',
                            attributes: [
                                {label: 'family_name', value: 'family_name'},
                                {label: 'given_name', value: 'given_name'},
                                {label: 'birth_date', value: 'birth_date'},
                                {label: 'age_over_18', value: 'age_over_18'},
                                {label: 'age_in_years', value: 'age_in_years'},
                                {label: 'age_birth_year', value: 'age_birth_year'},
                                {label: 'family_name_birth', value: 'family_name_birth'},
                                {label: 'given_name_birth', value: 'given_name_birth'},
                                {label: 'birth_place', value: 'birth_place'},
                                {label: 'birth_country', value: 'birth_country'},
                                {label: 'birth_state', value: 'birth_state'},
                                {label: 'birth_city', value: 'birth_city'},
                                {label: 'resident_address', value: 'resident_address'},
                                {label: 'resident_country', value: 'resident_country'},
                                {label: 'resident_state', value: 'resident_state'},
                                {label: 'resident_city', value: 'resident_city'},
                                {label: 'resident_postal_code', value: 'resident_postal_code'},
                                {label: 'resident_street', value: 'resident_street'},
                                {label: 'resident_house_number', value: 'resident_house_number'},
                                {label: 'gender', value: 'gender'},
                                {label: 'nationality', value: 'nationality'},
                                {label: 'issuance_date', value: 'issuance_date'},
                                {label: 'expiry_date', value: 'expiry_date'},
                                {label: 'issuing_authority', value: 'issuing_authority'},
                                {label: 'document_number', value: 'document_number'},
                                {label: 'administrative_number', value: 'administrative_number'},
                                {label: 'issuing_country', value: 'issuing_country'},
                                {label: 'issuing_jurisdiction', value: 'issuing_jurisdiction'},
                            ]
                        },
                        {
                            label: 'IDA Credential',
                            value: 'IdAustria2023',
                            attributes: [
                                {label: 'bpk', value: 'bpk'},
                                {label: 'firstname', value: 'firstname'},
                                {label: 'lastname', value: 'lastname'},
                                {label: 'date-of-birth', value: 'date-of-birth'},
                                {label: 'portrait', value: 'portrait'},
                                {label: 'main-address', value: 'main-address'},
                                {label: 'age-over-14', value: 'age-over-14'},
                                {label: 'age-over-16', value: 'age-over-16'},
                                {label: 'age-over-18', value: 'age-over-18'},
                                {label: 'age-over-21', value: 'age-over-21'},
                            ]
                        },
                        {
                            label: 'Power of Representation (PoR)',
                            value: 'PowerOfRepresentation',
                            attributes: [
                                {label: 'legal_person_identifier', value: 'legal_person_identifier'},
                                {label: 'legal_name', value: 'legal_name'},
                                {label: 'full_powers', value: 'full_powers'},
                                {label: 'eService', value: 'eService'},
                                {label: 'effective_from_date', value: 'effective_from_date'},
                                {label: 'effective_until_date', value: 'effective_until_date'},
                                {label: 'issue_date', value: 'issue_date'},
                                {label: 'expiry_date', value: 'expiry_date'},
                                {label: 'issuing_authority', value: 'issuing_authority'},
                                {label: 'issuing_country', value: 'issuing_country'},
                                {label: 'issuing_jurisdiction', value: 'issuing_jurisdiction'},
                                {label: 'document_number', value: 'document_number'},
                                {label: 'administrative_number', value: 'administrative_number'}
                            ]
                        },
                        {
                            label: 'Certificate of Residence (CoR)',
                            value: 'CertificateOfResidence',
                            attributes: [
                                {label: 'family_name', value: 'family_name'},
                                {label: 'given_name', value: 'given_name'},
                                {label: 'birth_date', value: 'birth_date'},
                                {label: 'nationality', value: 'nationality'},
                                {label: 'birth_place', value: 'birth_place'},
                                {label: 'arrival_date', value: 'arrival_date'},
                                {label: 'residence_address', value: 'residence_address'},
                                {label: 'gender', value: 'gender'},
                                {label: 'issue_date', value: 'issue_date'},
                                {label: 'expiry_date', value: 'expiry_date'},
                                {label: 'issuing_authority', value: 'issuing_authority'},
                                {label: 'issuing_country', value: 'issuing_country'},
                                {label: 'issuing_jurisdiction', value: 'issuing_jurisdiction'},
                                {label: 'document_number', value: 'document_number'},
                                {label: 'administrative_number', value: 'administrative_number'}
                            ]
                        }
                    ],
                    representation: [
                        {label: 'SD-JWT', value: 'SD_JWT'},
                        {label: 'ISO mDoc', value: 'ISO_MDOC'}
                    ],
                    urlprefix: [
                        {label: 'HAIP', value: 'haip://'},
                        {label: 'EUDI', value: 'eudi-openid4vp://'},
                        {label: 'MDOC OpenId4VP', value: 'mdoc-openid4vp://'},
                        {label: 'A-SIT Wallet', value: 'https://wallet.a-sit.at/mobile'}
                    ],
                    profiles: [
                        {
                            label: 'Custom',
                            schemeType: null,
                            representation: null,
                            urlprefix: null,
                            attributes: []
                        },
                        {
                            label: 'ID Verification',
                            schemeType: 'IdAustria2023',
                            representation: 'SD_JWT',
                            urlprefix: 'https://wallet.a-sit.at/mobile',
                            attributes: [
                                {label: 'firstname', value: 'firstname', isSelected: true},
                                {label: 'lastname', value: 'lastname', isSelected: true},
                                {label: 'portrait', value: 'portrait', isSelected: true},
                            ]
                        },
                        {
                            label: 'Age Verification',
                            schemeType: 'IdAustria2023',
                            representation: 'SD_JWT',
                            urlprefix: 'https://wallet.a-sit.at/mobile',
                            attributes: [
                                {label: 'age-over-14', value: 'age-over-14', isSelected: true},
                                {label: 'age-over-16', value: 'age-over-16', isSelected: true},
                                {label: 'age-over-18', value: 'age-over-18', isSelected: true},
                                {label: 'age-over-21', value: 'age-over-21', isSelected: true},
                            ]
                        },
                        {
                            label: 'PoR',
                            schemeType: 'PowerOfRepresentation',
                            representation: 'SD_JWT',
                            urlprefix: 'https://wallet.a-sit.at/mobile',
                            attributes: [
                                {label: 'legal_person_identifier', value: 'legal_person_identifier', isSelected: true},
                                {label: 'legal_name', value: 'legal_name', isSelected: true},
                                {label: 'full_powers', value: 'full_powers', isSelected: true},
                                {label: 'eService', value: 'eService', isSelected: true},
                                {label: 'effective_from_date', value: 'effective_from_date', isSelected: true},
                                {label: 'effective_until_date', value: 'effective_until_date', isSelected: true},
                                {label: 'issue_date', value: 'issue_date', isSelected: true},
                                {label: 'expiry_date', value: 'expiry_date', isSelected: true},
                                {label: 'issuing_authority', value: 'issuing_authority', isSelected: true},
                                {label: 'issuing_country', value: 'issuing_country', isSelected: true},
                                {label: 'issuing_jurisdiction', value: 'issuing_jurisdiction', isSelected: true},
                                {label: 'document_number', value: 'document_number', isSelected: true},
                                {label: 'administrative_number', value: 'administrative_number', isSelected: true}
                            ]
                        },
                        {
                            label: 'CoR',
                            schemeType: 'CertificateOfResidence',
                            representation: 'SD_JWT',
                            urlprefix: 'https://wallet.a-sit.at/mobile',
                            attributes: [
                                {label: 'family_name', value: 'family_name', isSelected: true},
                                {label: 'given_name', value: 'given_name', isSelected: true},
                                {label: 'birth_date', value: 'birth_date', isSelected: true},
                                {label: 'nationality', value: 'nationality', isSelected: true},
                                {label: 'birth_place', value: 'birth_place', isSelected: true},
                                {label: 'arrival_date', value: 'arrival_date', isSelected: true},
                                {label: 'residence_address', value: 'residence_address', isSelected: true},
                                {label: 'issue_date', value: 'issue_date', isSelected: true},
                                {label: 'expiry_date', value: 'expiry_date', isSelected: true},
                                {label: 'issuing_authority', value: 'issuing_authority', isSelected: true},
                                {label: 'issuing_country', value: 'issuing_country', isSelected: true},
                                {label: 'issuing_jurisdiction', value: 'issuing_jurisdiction', isSelected: true},
                                {label: 'document_number', value: 'document_number', isSelected: true},
                                {label: 'administrative_number', value: 'administrative_number', isSelected: true}
                            ]
                        }
                    ]
                };

                // --- STATE ---------------------------------------------------

                const reqSelection = ref({})
                updateProfile(config.profiles[0])

                const error = ref({message: null})
                const qrCode = ref({src: null})
                const qrCodeUrl = ref({message: null})

                // --- FUNCTIONS -----------------------------------------------

                async function updateProfile(profile) {
                    console.log('updateProfile', profile)
                    reqSelection.value = {...profile}

                    const schemeType = config.schemeTypes.find((type) => type.value == profile.schemeType)
                    const representation = config.representation.find((type) => type.value == profile.representation)

                    if (schemeType) {
                        const selected = profile.attributes.reduce(function (acc, attr) {
                            if (attr.isSelected) acc.push(attr.value)
                            return acc
                        }, [])

                        var attrs = schemeType.attributes.map(function (attr) {
                            attr.isSelected = selected.includes(attr.value)
                            return attr
                        })

                        reqSelection.value.attributes = attrs
                    }
                }

                async function updateSchemeType(schemeType) {
                    console.log('updateSchemeType', schemeType)
                    reqSelection.value.schemeType = schemeType.value
                    reqSelection.value.attributes = schemeType.attributes
                }

                async function updateRepresentation(representation) {
                    console.log('updateRepresentation', representation)
                    reqSelection.value.representation = representation.value
                }

                async function updateUrlprefix(urlprefix) {
                    console.log('updateUrlprefix', urlprefix)
                    reqSelection.value.urlprefix = urlprefix.value
                }

                async function updateAttribute(attribute) {
                    console.log('updateAttribute', attribute)
                    attribute.isSelected = !attribute.isSelected;
                }

                async function generateQrCode() {
                    console.log('generateQrCode', reqSelection.value)

                    try {
                        const attrs = reqSelection.value.attributes.filter(function (attr) {
                            return attr.isSelected
                        }).map(function (attr) {
                            return attr.value
                        })

                        const request = {
                            credentialType: reqSelection.value.schemeType,
                            representation: reqSelection.value.representation,
                            urlprefix: reqSelection.value.urlprefix,
                            attributes: attrs,
                        }
                        console.log(`generateQrCode: fetching ${JSON.stringify(request)}`)

                        const response = await fetch(config.qrCodeUrl, {
                            method: 'POST',
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify(request),
                        })
                        if (response.ok) {
                            const data = (await response.blob());
                            console.log(`generateQrCode: got ${data.size} bytes`)
                            qrCode.value.src = URL.createObjectURL(data)
                            error.value.message = null
                        } else {
                            const data = (await response.text())
                            console.log(`generateQrCode: error ${data}`)
                            throw data
                        }
                        const urlResponse = await fetch(config.qrCodeUrlUrl, {
                            method: 'POST',
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify(request),
                        })
                        if (urlResponse.ok) {
                            qrCodeUrl.value.message = await urlResponse.text()
                        } else {
                            qrCodeUrl.value.message = null
                        }
                    } catch (err) {
                        console.log(`error: ${err}`)
                        qrCode.value.src = null
                        error.value.message = "Error: " + err
                    }
                }

                // --- RETURNS -------------------------------------------------

                return {
                    config,
                    reqSelection,
                    error,
                    qrCode,
                    qrCodeUrl,
                    updateProfile,
                    updateSchemeType,
                    updateRepresentation,
                    updateUrlprefix,
                    updateAttribute,
                    generateQrCode,
                }
            }
        }).mount('#app')
    </script>
</head>
<body id="app">
<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">
                <i width="1em" height="1em" class="bi-person"></i>
                Customer-Page
            </h3>
            <p>
                The customer starts the authentication process by scanning the QR code placed on the counter.
                Please make a selection to generate the QR code:
            </p>
            <ul class="nav nav-tabs mb-3">
                <li
                        v-for="item in config.profiles"
                        :key="item.label"
                        class="nav-item">
                    <a :class="'nav-link'+ (item.label == reqSelection.label ? ' active' : '')" href="#"
                       @click="updateProfile(item)">{{ item.label }}</a>
                </li>
            </ul>
            <div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-4 pt-0">Credential Type</legend>
                    <div class="col-sm-8">
                        <div
                                v-for="item in config.schemeTypes"
                                :key="item.value"
                                class="form-check">
                            <input class="form-check-input" type="radio" name="credentialScheme" :value="item.value"
                                   :checked="reqSelection.schemeType == item.value" @click="updateSchemeType(item)">
                            <label class="form-check-label">
                                {{ item.label }}
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-4 pt-0">Presentation Type</legend>
                    <div class="col-sm-8">
                        <div
                                v-for="item in config.representation"
                                :key="item.value"
                                class="form-check">
                            <input class="form-check-input" type="radio" name="representation" :value="item.value"
                                   :checked="reqSelection.representation == item.value"
                                   @click="updateRepresentation(item)">
                            <label class="form-check-label">
                                {{ item.label }}
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-4 pt-0">URL Prefix</legend>
                    <div class="col-sm-8">
                        <div
                                v-for="item in config.urlprefix"
                                :key="item.value"
                                class="form-check">
                            <input class="form-check-input" type="radio" name="urlprefix" :value="item.value"
                                   :checked="reqSelection.urlprefix == item.value" @click="updateUrlprefix(item)">
                            <label class="form-check-label">
                                {{ item.label }}
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-4 pt-0">Attributes</legend>
                    <div class="col-sm-8">
                        <p v-if="reqSelection.attributes.length == 0">Please select a Credential Type.</p>
                        <div
                                v-for="item in reqSelection.attributes"
                                :key="item.value"
                                class="form-check">
                            <input class="attributes form-check-input" type="checkbox" name="attributes"
                                   :value="item.value" :checked="item.isSelected" @click="updateAttribute(item)">
                            <label class="form-check-label" for="attributes1">
                                {{ item.label }}
                            </label>
                        </div>
                    </div>
                </fieldset>

                <button @click="generateQrCode()" class="btn btn-primary mb-3">Generate QR</button>
            </div>

            <div v-if="error.message" class="alert alert-danger" role="alert">
                {{ error.message }}
            </div>

            <div v-if="qrCode.src" class="alert alert-success" role="alert">
                QR Code has been generated successfully:
                <img id="qrcode" width="300px" :src="qrCode.src" />
            </div>

            <div v-if="qrCodeUrl.message">
                <a target="_blank" :href="qrCodeUrl.message">{{ qrCodeUrl.message }}</a>
            </div>
        </div>
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">
                <i width="1em" height="1em" class="bi-bank"></i>
                Employee-Page
            </h3>
            <p>
                Employees are presented with all recent authentication results on the Employee-Page.
                The identity data of these authentication results can be used to compare whether the right person is standing in front of the counter.
            </p>
            <a href="employee.html" class="icon-link">
                Visit the Employee-Page
                <i class="bi-chevron-right"></i>
            </a>
        </div>
    </div>
</div>

</body>
</html>
